{% extends '::base.html.twig' %}

{% block body %}
  <div>
      <form method="post" action="{{ action }}" novalidate="novalidate">
          <div>
              <!-- form is based on User Entity-->
              {{ dump(form.vars.value) }}  <!-- valores de la entidad-->

              <ul>
                  {% for error in form.vars.errors %}    <!-- mostrar errores juntos-->
                      <li>{{ error.message }}</li>
                  {% endfor %}
              </ul>
          </div>
          <div>{{ form_errors(form.email) }}{{ form_label(form.email) }}: {{ form_widget(form.email) }}</div>
          <div>{{ form_label(form.password) }}: {{ form_widget(form.password) }}</div>
          {{ form_rest(form) }}
          <div><input type="submit" value="OK"></div>
      </form>
  </div>

{% endblock %}